* {
    background-color: whitesmoke;
    max-width: 1200px;
    padding: 10px;
    border: 0px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: black;
}

header .high {
    background-color: #2D4059;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

header .high article {
    width: 70%;
    background-color: #EA5455;
}

header .high aside {
    width: 15%;
    background-color: #EA5455;
}

header .low {
    background-color: #F07B3F;
}

header .low article {
    background-color: #FED460;
    width: 100%;
}

footer {
    background-color:  black;
    margin-top: 20px;
}

main {
    background-color:  black;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

main section {
    background-color: #4E4E6A;
    width: 70%;
}

main section article {
    background-color: #1F6BAE;
    width: 100%;
}

.footer-article{
    background-color: #70A3C4;
    width: 100%;
}

main aside {
    background-color: #F73F52;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
}

main aside article {
    background-color: #FEEA85;
    margin: 2%;
}

.article1 { grid-area: article-top-left; }
.article2 { grid-area: article-top-right; }
.article3 { grid-area: article-bottom-right; }
.article4 { grid-area: article-bottom-left; }
.footer-article { grid-area: footer; }

.main-grid-container {
    display: grid;
    grid-template-areas:
      'article-top-left article-top-right'
      'article-bottom-left article-bottom-right'
      'footer footer';
    gap: 10px;
}

footer article {
    background-color: #E6AF2E;    
    width: 100%;
}

/* Tablet size */
@media screen and (max-width: 600px) {
    main {
        background-color:  #FEFF03;
        flex-direction: column;
    }

    main section,
    main aside {   
        width: 100%;
    }
}

/* Phone size */
@media screen and (max-width: 480px) {
    header .high {
        flex-direction: column;
    }

    header .high article,
    header .high aside {
        width: 100%;
    }

    .main-grid-container {
        display: flex;
        flex-direction: column;
    }

    .main-grid-container article{
        background-color: #62969c;
    }
    .main-grid-container .footer-article {
        background-color: #A3DDCB;
    }

    main aside {
        background-color: #fd7b54;
    }

    main aside article {
        background-color: #fdb36b;
    }
}
