* {
    background-color: whitesmoke;
    max-width: 1200px;
    padding: 10px;
    border: 0px;
}

header {
    background-color:  black;
}

header .high {
    background-color: #2D4059;
    display: flex;
    justify-content: space-between;
}

header .high article {
    width: 70%;
    background-color: #EA5455;
    margin: 0 10px 0 10px;
}

header aside {
    width: 15%;
    background-color: #EA5455;
}

header .low {
    background-color: #F07B3F;
}

header .low article {
    background-color: #FED460;
    width: calc(100% - 20px);
}

/*
body {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

header section.high{
    background-color: #2D4059;
}
*/